project:
  type: website
  output-dir: _docs
  preview:
    port: 3000
    browser: false

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    toc-depth: 4

website:
  title: "diffusion_curvature"
  site-url: "https://x.riddle.press/diffusion_curvature"
  description: "Fast graph curvature"
  twitter-card: true
  open-graph: true
  reader-mode: true
  repo-branch: master
  repo-url: "https://github.com/professorwug/diffusion_curvature"
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
    right:
      - icon: github
        href: "https://github.com/professorwug/diffusion_curvature"
  sidebar:
    style: "floating"

metadata-files: 
  - sidebar.yml
  - custom.yml
